.page_main_heading {
    font-size: 20px;
    text-align: center;
}

.main_form {
    align-self: center;
    justify-self: center;
    max-width: 500px;
}

.main_form .form-field {
    display: inline-block;
    margin-bottom: 20px;
}

.main_form .form-field label {
    font-size: 14px;
    font-weight: 900;
    color: #333333;
    display: inline-block;
    margin-bottom: 5px;
}

.main_form input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dddddd;
}

.main_form input[type=text] {
    width: 300px;
}

.main_form .download_button {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_form .download_button:hover {
    background-color: #83b322;
}

#sign {
    
    border: 1px solid yellowgreen;
}

.clear_signpad_button {
    font-size: 14px;
}

#output {
    display: none;
    padding: 30px;
}

#output h3 {
    text-align: center;
    font-size: 16px;
}

#output table {
    width: 100%;
}

#output table td {
    width: 50%;
    font-size: 14px;
}

#output table td:first-child {
    font-weight: bold;
    text-align: center;
}

#out-sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 0;
}

#out-date {
    margin: 50px 0;
    font-weight: bold;
    font-size: 18px;
}

@media print {
    body > * {
        display: none;
    }

    #output {
        display: block;
    }
}

.absoluteVisible {
    display: block !important;
}
