* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

.clearfix {
    clear: both;
}

.page_main_heading {
    font-size: 20px;
    text-align: center;
}

#sign-wrapper {
    position: relative;
    max-width: 500px;
    border: 1px solid yellowgreen;
}

#sign-wrapper::after, #out-sign::after {
    content: "";
    position: absolute;
    top: 62%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

#output {
    display: none;
    width: 800px;
    padding: 30px;
    font-family: serif;
}

#output h3 {
    text-align: center;
    font-size: 16px;
}

#output table {
    width: 100%;
}

#output table td {
    width: 50%;
    font-size: 14px;
}

#output table td:first-child {
    font-weight: bold;
    text-align: center;
}

#out-sign {
    position: relative;
    width: 325px;
}

#out-sign img {
    width: 100%;
}

#out-sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 0;
}

#out-date {
    margin: 40px 0 25px 25px;
    font-weight: bold;
    font-size: 18px;
}

@media print {
    body > * {
        display: none;
    }

    #output {
        display: block;
    }
}

.absoluteVisible {
    display: block !important;
}
